# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
bld/
[Bb]in/
[Oo]bj/

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
*.map
*.orig
*.nupkg
*.tmp
bin/
obj/
**/packages/**/*.xml
Binaries/
*.sln.ide/
/src/Publish/
_Chutzpah.*.html

#AjaxCommunicationToolkit
!/WHL BO/WHLBO/Bin/AjaxControlToolkit.dll
!/WHL BO/AffiliatesBO/Bin/AjaxControlToolkit.dll

#Do not ignore anything under NuGet packages folder
!**/packages/**/*.dll
#Ignore XML files under NuGet packages folder
**/packages/**/*.xml
**/packages/**/*.XML
#Allow unity dll
!/Admin/BetManager/Unity/Microsoft.Practices.Unity.dll

#Ignore generatedweb.config
src/WHLClientTemplate/web.config

*.orig
*sln.ide
#Ignore StyleCopReport.xml
StyleCopReport.xml
/White Label Template/TestResults
**/Binaries

#Ignore CI artifacts
!Tools/*
/White Label Template/TestResults
Binaries
jasmine-result**
/Admin/packages

packages/

!Lib/
!Vendor/
!/build/
!/scripts/

#Ignore linked files in the WebSite
src/WHLClientTemplate/JSComponents/AccountURLs.js
src/WHLClientTemplate/JSComponents/AJAX.js
src/WHLClientTemplate/JSComponents/AJAXDataService.js
src/WHLClientTemplate/JSComponents/Constants.js
src/WHLClientTemplate/JSComponents/custom/extends.js
src/WHLClientTemplate/JSComponents/custom/uiSlider.js
src/WHLClientTemplate/JSComponents/custom/bonusOfferPopUp.js
src/WHLClientTemplate/JSComponents/custom/bonusOfferPopUpCreator.js
src/WHLClientTemplate/JSComponents/custom/ESInfoLogger.js
src/WHLClientTemplate/JSComponents/Data/BaseEventInfo.js
src/WHLClientTemplate/JSComponents/Data/Arrays.js
src/WHLClientTemplate/JSComponents/Data/BetHistory.js
src/WHLClientTemplate/JSComponents/Data/BetHistory/ComboBet.js
src/WHLClientTemplate/JSComponents/Data/BetHistory/ComboBetLine.js
src/WHLClientTemplate/JSComponents/Data/BetHistory/ComboBetQALine.js
src/WHLClientTemplate/JSComponents/Data/BetHistory/GameBet.js
src/WHLClientTemplate/JSComponents/Data/BetHistory/QABet.js
src/WHLClientTemplate/JSComponents/Data/BetHistory/SimpleBet.js
src/WHLClientTemplate/JSComponents/Data/BetHistory/TransactionHistory.js
src/WHLClientTemplate/JSComponents/Data/BetHistory/TransactionItem.js
src/WHLClientTemplate/JSComponents/Data/BonusInfo.js
src/WHLClientTemplate/JSComponents/Data/BranchInfo.js
src/WHLClientTemplate/JSComponents/Data/BranchSorting.js
src/WHLClientTemplate/JSComponents/Data/Enum/BetTypes.js
src/WHLClientTemplate/JSComponents/Data/EventInfo.js
src/WHLClientTemplate/JSComponents/Data/EventTypeInfo.js
src/WHLClientTemplate/JSComponents/Data/FractionalOddsConverter.js
src/WHLClientTemplate/JSComponents/Data/GameStatus.js
src/WHLClientTemplate/JSComponents/Data/GroupEventTypeInfo.js
src/WHLClientTemplate/JSComponents/Data/LeagueInfo.js
src/WHLClientTemplate/JSComponents/Data/LineGroup.js
src/WHLClientTemplate/JSComponents/Data/Lines.js
src/WHLClientTemplate/JSComponents/Data/LiveEventInfo.js
src/WHLClientTemplate/JSComponents/Data/LiveMasterEvent.js
src/WHLClientTemplate/JSComponents/Data/MarketInfo.js
src/WHLClientTemplate/JSComponents/Data/MasterEvent.js
src/WHLClientTemplate/JSComponents/Data/MasterEventTopBet.js
src/WHLClientTemplate/JSComponents/Data/QAColumn.js
src/WHLClientTemplate/JSComponents/Data/QAEventInfo.js
src/WHLClientTemplate/JSComponents/Data/QAEventTeamSwap.js
src/WHLClientTemplate/JSComponents/Data/QALine.js
src/WHLClientTemplate/JSComponents/Data/Racing/PreviousRaceInfo.js
src/WHLClientTemplate/JSComponents/Data/Racing/RacecardLineInfo.js
src/WHLClientTemplate/JSComponents/Data/Racing/RacingEventInfo.js
src/WHLClientTemplate/JSComponents/Data/Racing/RacingEventShortInfo.js
src/WHLClientTemplate/JSComponents/Data/Racing/RacingRegionInfo.js
src/WHLClientTemplate/JSComponents/Data/Racing/RacingResultInfo.js
src/WHLClientTemplate/JSComponents/Data/Racing/RacingTrackInfo.js
src/WHLClientTemplate/JSComponents/Data/Scoreboards/BasketballScore.js
src/WHLClientTemplate/JSComponents/Data/Scoreboards/CricketScore.js
src/WHLClientTemplate/JSComponents/Data/Scoreboards/IceHockeyScore.js
src/WHLClientTemplate/JSComponents/Data/Scoreboards/TennisScore.js
src/WHLClientTemplate/JSComponents/Data/Search/SearchController.js
src/WHLClientTemplate/JSComponents/Data/Search/SearchData.js
src/WHLClientTemplate/JSComponents/Data/SplitTypes.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/BasePurchase.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/BaseSelection.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/BetSlipErrorMessagesHelper.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/BetSlipValidation.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/ComboBet.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/ComboPurchase.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/ComboSlipState.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/Modes/BaseSPSlipMode.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/Modes/ComboSPSlipMode.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/Modes/SingleSPSlipMode.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/Modes/SystemSPSlipMode.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/Modes/TeaserSPSlipMode.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/Modes/UKSPSlipMode.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/Modes/ComboNoCombinationSingleSPSlipMode.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/MultiLineItem.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/MultiLineSingleBet.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/MultiLineSinglePurchase.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/QALiveSelection.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/QASelection.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/RegularLiveSelection.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/RegularSelection.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/Selections.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/SelectionHelper.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/SPMyBets.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/SPMyBetsPurchase.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/SPPurchase.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/SPPurchaseBuilder.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/SingleBet.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/SinglePurchase.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/SingleSlipState.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/SystemBet.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/SystemPurchase.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/SystemSlipState.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/TeaserBet.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/TeaserPurchase.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/TeaserSlipMode.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/UniSlip.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/CashoutSlider.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/BookABet.js
src/WHLClientTemplate/JSComponents/Data/UserInfo.js
src/WHLClientTemplate/JSComponents/Data/VirtualSoccerSilk.js
src/WHLClientTemplate/JSComponents/Data/RememberMeUtility.js
src/WHLClientTemplate/JSComponents/Data/RememberMeUtility.ext.js
src/WHLClientTemplate/JSComponents/DirectAPI.js
src/WHLClientTemplate/JSComponents/JSInclude.js
src/WHLClientTemplate/JSComponents/NumberExt.js
src/WHLClientTemplate/JSComponents/Pages/SPOpenBets.js
src/WHLClientTemplate/JSComponents/Pages/Blocks/RegulationBlock.js
src/WHLClientTemplate/JSComponents/Pages/Blocks/DepositLimits.js
src/WHLClientTemplate/JSComponents/Pages/Blocks/DepositLimits.ext.js
src/WHLClientTemplate/JSComponents/ProductURL.js
src/WHLClientTemplate/JSComponents/SplItTypes/BaseSplitType.js
src/WHLClientTemplate/JSComponents/SplItTypes/SplitType0.js
src/WHLClientTemplate/JSComponents/SplItTypes/SplitType2.js
src/WHLClientTemplate/JSComponents/SplItTypes/SplitType3.js
src/WHLClientTemplate/JSComponents/SplItTypes/SplitType4.js
src/WHLClientTemplate/JSComponents/SplItTypes/SplitType5.js
src/WHLClientTemplate/JSComponents/SplItTypes/SplitType6.js
src/WHLClientTemplate/JSComponents/SplItTypes/SplitType7.js
src/WHLClientTemplate/JSComponents/SplItTypes/SplitType8.js
src/WHLClientTemplate/JSComponents/SplItTypes/SplitType9.js
src/WHLClientTemplate/JSComponents/SplItTypes/SplitType21.js
src/WHLClientTemplate/JSComponents/SplItTypes/SplitType22.js
src/WHLClientTemplate/JSComponents/SplItTypes/SplitType23.js
src/WHLClientTemplate/JSComponents/SplItTypes/SplitType24.js
src/WHLClientTemplate/JSComponents/SplItTypes/SplitType25.js
src/WHLClientTemplate/JSComponents/SplItTypes/SplitType26.js
src/WHLClientTemplate/JSComponents/SplItTypes/SplitType27.js
src/WHLClientTemplate/JSComponents/SplItTypes/SplitType28.js
src/WHLClientTemplate/JSComponents/SplItTypes/SplitType29.js
src/WHLClientTemplate/JSComponents/SplItTypes/SplitType30.js
src/WHLClientTemplate/JSComponents/SplItTypes/SplitType99.js
src/WHLClientTemplate/JSComponents/SplitTypes/FastMarket.js
src/WHLClientTemplate/JSComponents/SplitTypes/TennisFastMarket.js
src/WHLClientTemplate/JSComponents/StringExt.js
src/WHLClientTemplate/JSComponents/TimeControl.js
src/WHLClientTemplate/JSComponents/Utils/Bets.js
src/WHLClientTemplate/JSComponents/Utils/Events.js
src/WHLClientTemplate/JSComponents/Utils/BetSlipUtil.js
src/WHLClientTemplate/JSComponents/Utils/Cookies.js
src/WHLClientTemplate/JSComponents/Utils/Data.js
src/WHLClientTemplate/JSComponents/Utils/Lines.js
src/WHLClientTemplate/JSComponents/Utils/Odds.js
src/WHLClientTemplate/JSComponents/Utils/WebStorage.js
src/WHLClientTemplate/JSComponents/custom/jsErrorsLog.js
src/WHLClientTemplate/JSComponents/custom/jsErrorsLog_Constants.js
src/WHLClientTemplate/JSComponents/custom/LZString.js
src/WHLClientTemplate/JSComponents/custom/VisualLogger.js
/src/WHLClientTemplate/JSComponents/Pages/Blocks/ProtectionOfCustomerFundsHTMLBlock.js
/src/WHLClientTemplate/JSComponents/GoogleAnalyticsExperiment.js
src/WHLClientTemplate/JSComponents/Elements/PlayByPlay/BasePlayByPlay.js
src/WHLClientTemplate/JSComponents/Elements/PlayByPlay/Drawers/PlayByPlayBaseDrawer.js
src/WHLClientTemplate/JSComponents/Elements/PlayByPlay/Drawers/PlayByPlaySoccerDrawer.js
src/WHLClientTemplate/JSComponents/Elements/PlayByPlay/Drawers/PlayByPlayBasketballDrawer.js
src/WHLClientTemplate/JSComponents/Pages/Blocks/NextGenBlock.js
src/WHLClientTemplate/JSComponents/Pages/Blocks/OptInBonusBlock.js
src/WHLClientTemplate/JSComponents/Pages/Blocks/RegulationsQuizBlock.js
src/WHLClientTemplate/JSComponents/Utils/StorageUtils.js
src/WHLClientTemplate/JSComponents/Data/Regulations/BetSlipRegulations.js
src/WHLClientTemplate/JSComponents/Data/Regulations/RomanianIdValidator.js
src/WHLClientTemplate/JSComponents/Data/Regulations/PortugueseIdValidator.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/Modes/ComboNoCombinationSPSlipMode.js
src/WHLClientTemplate/JSComponents/Data/Racing/RacingEventInfoAustralianView.js
.vs/
/.vs/config/applicationhost.config
src/WHLClientTemplate/JSComponents/Data/UniSlip/ComboBonusPresenter.js
src/WHLClientTemplate/JSComponents/communicator.js
src/WHLClientTemplate/JSComponents/Utils/PushOddsUtils.js
src/WHLClientTemplate/JSComponents/Utils/Facade.js
src/WHLClientTemplate/JSComponents/BetRadar/BetRadarController.js
src/WHLClientTemplate/JSComponents/BetRadar/BetRadarWidgetType.js
src/WHLClientTemplate/JSComponents/BetRadar/BetRadarWidgetConfiguration.js
src/WHLClientTemplate/JSComponents/BetRadar/BetRadarPlayByPlayConfiguration.js
src/WHLClientTemplate/JSComponents/BetRadar/BetRadarLiveStatsConfiguration.js
src/WHLClientTemplate/JSComponents/BetRadar/BetRadarScoreboardConfiguration.js
src/WHLClientTemplate/JSComponents/BetRadar/BetRadarWidgetConfigurationFactory.js
src/WHLClientTemplate/JSComponents/BetRadar/BetRadarLanguageMappings.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/Modes/CombinatorSPSlipMode.js
src/WHLClientTemplate/JSComponents/Data/Languages/LanguageItem.js
src/WHLClientTemplate/JSComponents/Data/Languages/LanguageItemCache.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/BaseCashoutBetDrawer.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/SPMyBetsCashoutBetDrawer.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/CashoutManager.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/BaseQuickStake.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/Preview/DataProviders/AkoBetSlipPreviewDataProvider.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/Preview/DataProviders/BaseBetSlipPreviewDataProvider.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/Preview/DataProviders/CombinatorBetSlipPreviewDataProvider.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/Preview/DataProviders/ComboBetSlipPreviewDataProvider.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/Preview/DataProviders/SingleBetSlipPreviewDataProvider.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/Preview/DataProviders/SystemBetSlipPreviewDataProvider.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/Preview/BaseBetSlipPreview.js
src/WHLClientTemplate/JSComponents/Data/UniSlip/Preview/BetSlipPreviewDataProviderFactory.js

.vs/config/applicationhost.config
.vs

/src/WHLClientTemplate/JSComponents/Data/Racing/HighlightedRacingEventInfo.js
/src/WHLClientTemplate/compilerconfig.json
/src/WHLClientTemplate/JSComponents/Pages/TranslatePage.js
/src/WHLClientTemplate/JSComponents/Pages/TranslatePageExt.js
src/WHLClientTemplate/JSComponents/PushServer/pushCommunicator.js
src/WHLClientTemplate/JSComponents/PushServer/jquery.signalR-2.2.0.min.js
src/WHLClientTemplate/JSComponents/PushServer/PushPlugins/OddsPlugin.js
src/WHLClientTemplate/JSComponents/PushServer/PushPlugins/SogeiPlugin.js
src/WHLClientTemplate/JSComponents/PushServer/PushPlugins/UserBetsPlugin.js
src/WHLClientTemplate/JSComponents/PushServer/PushMessageHandlers/PushBaseMessageHandler.js
src/WHLClientTemplate/JSComponents/PushServer/PushMessageHandlers/PushOddsMessageHandler.js
src/WHLClientTemplate/JSComponents/PushServer/PushMessageHandlers/PushSogeiMessageHandler.js
src/WHLClientTemplate/JSComponents/PushServer/PushMessageHandlers/PushUserBetsMessageHandler.js
/src/WHLClientTemplate/Methods/AddressService.ashx
src/WHLClientTemplate/JSComponents/SuggestionsControl.js
src/WHLClientTemplate/JSComponents/custom/mobile-detect.js
src/WHLClientTemplate/JSComponents/custom/ui.comboSelect.js
src/WHLClientTemplate/JSComponents/custom/ui.detect.js
/src/WHLClientTemplate/templates/custom/TbonusOfferPopUp.js
src/WHLClientTemplate/JSComponents/AddressFinding/AddressFinder.js
src/WHLClientTemplate/JSComponents/AddressFinding/AddressFinderMapper.js
/src/WHLClientTemplate/JSComponents/Utils/VirtualSports.js
/src/WHLClientTemplate/JSComponents/Data/LoyaltyPrograms/LoyaltyProgramCalculations.js
/src/WHLClientTemplate/JSComponents/Data/LoyaltyPrograms/LoyaltyPointType.js
/src/WHLClientTemplate/JSComponents/Data/LoyaltyPrograms/LoyaltyProgramConfiguration.js
/src/WHLClientTemplate/JSComponents/Data/VirtualSports/VirtualRacingEventResult.js
src/WHLClientTemplate/JSComponents/Data/eBranches.js
/src/WHLClientTemplate/JSComponents/Utils/OpenBetsUtil.js
/src/WHLClientTemplate/JSComponents/Data/SelfExclusionInformation.js
src/WHLClientTemplate/JSComponents/Data/DocumentsManagementModel.js
src/WHLClientTemplate/JSComponents/Data/eBranches.js
src/WHLClientTemplate/JSComponents/Utils/CryptoHelper.js
src/WHLClientTemplate/JSComponents/aes.js
src/WHLClientTemplate/JSComponents/Data/TaxProviders/BaseTaxProvider.js
src/WHLClientTemplate/JSComponents/Data/TaxProviders/FixTaxOnReturnProvider.js
src/WHLClientTemplate/JSComponents/Data/TaxProviders/TurnoverAndReturnTaxProvider.js
src/WHLClientTemplate/JSComponents/Data/TaxProviders/EmptyTaxProvider.js
src/WHLClientTemplate/JSComponents/Data/TaxProviders/MexicanTaxProvider.js
src/WHLClientTemplate/JSComponents/Utils/LiveEventsTime.js
src/WHLClientTemplate/JSComponents/EventsManager/EventsManager.js
/src/WHLClientTemplate/JSComponents/Elements/PlayByPlay/Drawers/PlayByPlayTennisDrawer.js
src/WHLClientTemplate/JSComponents/Data/PlayByPlay/CanvasExt.js
src/WHLClientTemplate/JSComponents/Data/PlayByPlay/pbp.js
src/WHLClientTemplate/JSComponents/Data/PlayByPlay/pbp.css
/src/WHLClientTemplate/i/pbp/BluePitch.svg
/src/WHLClientTemplate/i/pbp/BrownPitch.svg
/src/WHLClientTemplate/i/pbp/GreenPitch.svg
/src/WHLClientTemplate/i/pbp/Medical.svg
/src/WHLClientTemplate/i/pbp/TennisBall.svg
/src/WHLClientTemplate/i/pbp/Timer.svg
src/WHLClientTemplate/JSComponents/Data/LiveBettingQAEventInfo.js
/src/WHLClientTemplate/JSComponents/Data/PlayByPlay/velocity.min.js
/src/WHLClientTemplate/JSComponents/Data/PlayByPlay/velocity.ui.min.js
/src/WHLClientTemplate/css/pbp.css
/src/WHLClientTemplate/JSComponents/Data/PlayByPlay/promise.js
/src/WHLClientTemplate/JSComponents/Elements/PlayByPlay/Drawers/Statistics/TennisStatistics.js
/src/WHLClientTemplate/templates/custom/TTennisStatistics.js
/src/WHLClientTemplate/i/pbp/TennisBallFF.png
/src/WHLClientTemplate/JSComponents/Statistics.js
/src/WHLClientTemplate/JSComponents/Statistics/BaseWindowPopup.js
/src/WHLClientTemplate/JSComponents/Statistics/BetRadarStatistics.js
/src/WHLClientTemplate/JSComponents/Statistics/EnetPulseStatistics.ext.js
/src/WHLClientTemplate/JSComponents/Statistics/EnetPulseStatistics.js
/src/WHLClientTemplate/JSComponents/Statistics/StatisticsProviderFactory.js
